<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE -->
    <link rel="stylesheet" href="../../../../static/css/index.css">
    <link rel="stylesheet" href="../../../../static/css/card.css">
    <link rel="stylesheet" href="../../../../static/css/form.css">
    <link rel="stylesheet" href="../../../../static/css/header.css">

    <title>BeterSN</title>
</head>
<body>
    <header>
        <nav>
            <a href="../../../../" class="no-link"><h1>BeterSN</h1></a>
            <ul>
                <li><a href="../../../../new_civilian">Nieuwe burger toevoegen</a></li>
                <li><a href="../../../../bsn/validate">Valider BSN</a></li>
                <li><a href="../../../../bsn/generate">Genereer BSN</a></li>
                <li><a href="../../../../database">Burger overzicht</a></li>
            </ul>
        </nav>
    </header>
    <div class="root">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
